<h1>Edit Translated content</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.translated_content_path(@conn, :update, @translated_content)) %>

<span><%= link "Back", to: assigns.params["redirect"] %></span>
