<h1>Show Translated content</h1>

<ul>

  <li>
    <strong>Language code:</strong>
    <%= @translated_content.language_code %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @translated_content.content %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.translated_content_path(@conn, :edit, @translated_content) %></span>
<span><%= link "Back", to: Routes.translated_content_path(@conn, :index) %></span>
