<h1>Edit Stakeholder</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.stakeholder_path(@conn, :update, @stakeholder)) %>

<span><%= link "Back", to: Routes.stakeholder_path(@conn, :index) %></span>
