<h1>Show External link</h1>

<ul>

  <li>
    <strong>Project:</strong>
    <%= @external_link.project_id %>
  </li>

  <li>
    <strong>Label:</strong>
    <%= @external_link.label %>
  </li>

  <li>
    <strong>URL:</strong>
    <%= @external_link.url %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.external_link_path(@conn, :edit, @external_link) %></span>
<span><%= link "Back", to: Routes.external_link_path(@conn, :index) %></span>
