<h1>New Image</h1>

<%= render "form.html", Map.put(assigns |> IO.inspect , :action, Routes.image_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.project_path(@conn, :edit, assigns.project_id) %></span>
