<h1>New Linked resource</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.linked_resource_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.linked_resource_path(@conn, :index) %></span>
